# Ignore Terraform directories and files
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/tfplan
**/*.tfvars
**/*_override.tf
**/*_override.tf.json
**/*.tfstate.d/
**/*.backup
**/*.log
**/*.bak
**/crash.log
**/.DS_Store

# Ignore Kubernetes secrets
**/secrets-configmap.yaml

# Ignore IDE and Editor files
.vscode/
.idea/
*.swp
*~
*.swo

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Logs
logs/
*.log

# Ignore generated YAML files
*.yaml~

# Kubernetes Config and Kubeconfig
**/eks-kubeconfig.yaml
**/*.kubeconfig.yaml
**/kubeconfig.yaml
~/.kube/


